<% include partials/headers %>
				<p id="boot"> <img class="virus-image" src="img/boot.png" alt="boot-virus">
				 <span class="virus-type">Boot Infectors</span><br>
This virus type will include boot sector and master boot record types. While all the viral codes are separated because they infect the hard disks or the floppy. It include the viruses like the brain virus which is very first wild virus is to be created.</p>
				
					<a class="back" href="/types">Back</a>
<% include partials/footer %>