<% include partials/headers %>
				<p id="directory"> 
				 <span class="virus-type">Directory Virus</span><br>
					Directory virus is also known by cluster virus and file system virus. This can infect the computer’s directory by changing the path by indication the location. Such virus located into the hard disk but affect the entire directory. Directory viruses are <em>die-2</em> virus.</p>
				
					<a class="back" href="/types">Back</a>	
<% include partials/footer %>