<% include partials/headers %>
				<p id="direct"> <img class="virus-image" src="img/direct-virus.png" alt="direct-virus">
				 <span class="virus-type">Direct Action Viruses</span><br>
					Direct Action Virus activate when the file containing virus is executed. The virus take no other action unless an infected file is executed again. Most viruses avoid this because this is not so productive, but such virus damage in the past. Direct Action viruses are <em>Vienna Virus</em>.</p>
				
					<a class="back" href="/types">Back</a>
				
<% include partials/footer %>
