<% include partials/headers %>
				<header>
					<img class="blink-img" src="img/virus.png" alt="virus">
					<h1 id="history-title">  History of Viruses </h1>
					<img class="blink-img" src="img/virus.png" alt="virus">
				</header>
				
				<table>
					<tr>
						<td class="date">
							1951
						</td>
						<td>
								John von Neumann's self-reproducing computer program - the world's first computer virus.
						</td>
					</tr>
					<tr>
						<td class="date"> 
							1981
						</td>
						<td>
							<span class="first-word">Virus 1, 2, 3</span> and <span class="first-word">ElkCloner</span> for PC Apple II
						</td>
					</tr>
					<tr>
						<td class="date"> 
							1986-1989
						</td>
						<td>
							<span class="first-word">Brain:</span> Distributed in the boot sectors of floppy disks. 
							<span class="first-word">Jerusalem:</span> Destroyed programs at their launch. 
							<span class="first-word">Morris worm:</span> Most networks failed for up to five days.
						</td>
					</tr>
					<tr>
						<td class="date">
							1992
						</td>
						<td>
							<span class="first-word">WinVir:</span> The first virus to specifically target Microsoft Windows
						</td>
					</tr>
					<tr>
						<td class="date">
							1996
						</td>
						<td>
							<span class="first-word">Bizatch:</span> The first known virus to target Windows 95.
						</td>
					</tr>
					<tr>
						<td class="date">
							1997-1999
						</td>
						<td>
							<span class="first-word">ShareFun:</span> an MS Word macro virus that uses MS-Mail for distribution. 
							<span class="first-word">Win32.HLLP.DeTroie:</span> A family of viruses, spyware. 
							<span class="first-word">Melissa:</span> A macro virus and a network worm.
						</td>
					</tr>
					<tr>
						<td class="date">
							2004
						</td>
						<td>
							<span class="first-word"> MsBlast: </span> More than 16 million systems crashed. 
							<span class="first-word">Sasser:</span> Estimated losses of 500 million dollars. 
							<span class="first-word">Mydoom:</span> Estimated losses of 4 billion dollars.
						</td>
					</tr>
					<tr>
						<td>
							2006-2009
						</td>
						<td>
							<span class="first-word">Botnet worms:</span> <em>Rustock</em> - about 150 thousand bots. <em>Conficker</em> - more than 7 million bots.<em> Kraken:</em> about 500 thousand bots.
						</td>
					</tr>
				</table>
				<a class="read-more" href="/types">Read more...</a>
				<p id="info">Information source can be seen <a href="https://en.wikipedia.org/wiki/Computer_virus#Operations_and_functions"> here</a>.</p>
<% include partials/footer %>