<% include partials/headers %>
				<h1>Computer Viruses</h1>
				<p>
					<span id="virus">Computer virus</span> is a type of malicious software that can be embedded in the code of other programs, system memory, etc. to distribute its copies through various communication channels.

					The main purpose of the virus is its spread to disrupt the operation of software and hardware complexes — deleting files and even deleting the operating system, invalidating data placement structures, blocking users, etc. Even if the author of the virus did not program harmful effects, the virus can cause to computer crashes due to errors, unaccounted details of interaction with the operating system and other programs. In addition, viruses, as a rule, occupy space at information storage devices and consume system resources.
					<a class="read-more" href="/history">Read more...</a>
				</p>
				
				<p id="information"><b>Information source can be seen <a href="https://en.wikipedia.org/wiki/Computer_virus#Operations_and_functions">here</a>.</b></p>
<% include partials/footer %>