<% include partials/headers %>
				<p id="macro"> <img class="virus-image" src="img/macro.gif" alt="macro-virus">
				 <span class="virus-type">Macro virus</span><br>
					Macro virus infect the file hat are created from some application or programs which are mainly contain macro files like doc, pps, xls, mdb. So basically such virus infect the files with the macros and also templates and document that are contained in the file. These virus hide in documents that are shared through network and e-mail. Macro virus are 	<em>Relax, bablas, Melissa.A, 097M/Y2K</em>.</p>
				
				<a class="back" href="/types">Back</a>
<% include partials/footer %>