<% include partials/headers %>
				<p id="memory"> <img class="virus-image" src="img/memory.png" alt="memory-virus">
				 <span class="virus-type">Memory Resident Viruses</span><br>
					Resident viruses activated every time the OS runs and end up infecting other opened files. Such virus usually fix themselves inside the computer memory, hide in RAM. Resident viruses are <em>CMJ, meve, randex, mrklunky</em>.</p>
				
				<a class="back" href="/types">Back</a>
<% include partials/footer %>