<% include partials/headers %>
				<p id="tequila"> <img class="virus-image" src="img/Tequila.gif" alt="tequila-virus">
				 <span class="virus-type">Multipartite Virus</span><br>
				 This type of virus spread in multiple ways and the taken action depending upon the type of OS installed and presence of certain files. Most of the time this virus try to hide in computer’s memory not to infect the hard disk. Multipartite Viruses are <em>flip, invader and tequila</em>.</p>
				
				<a class="back" href="/types">Back</a>
<% include partials/footer %>
