<% include partials/headers %>
				<p id="overwrite"> 
				 <span class="virus-type">Overwrite Viruses</span><br>
					Overwrite viruses delete the information from the file partially or completely once it infect a file. It infect only the file content may be change all the content but the file location and name remains the same, means doesn’t infect the file name and the location. Overwrite viruses are <em>Trj.Reboot, way, trivial.88.D</em>. </p>
				
				<a class="back" href="/types">Back</a>
<% include partials/footer %>