<% include partials/headers %>
				<p id="poly"> <img class="virus-image" src="img/poly-virus.png" alr="poly-virus"> 
				 <span class="virus-type">Polymorphic Virus</span><br>
					Polymorphic virus encode and encrypt themselves every time they are going to infect the computer system. For that they use different encryption methods and algorithms. Since they use different encryption method each time which is difficult for antivirus to locate and resolve them. Polymorphism viruses are <em>Marburg, tuareg, Satan bug, elkern</em>.</p>
				
				<a class="back" href="/types">Back</a>
<% include partials/footer %>