<% include partials/headers %>
				<h1>Viruses Prevention</h1>
				<img id="anti" class="virus-image" src="img/antivirus.png" alt="antivirus">
				<ul id="prevention"> 
						<li class="bullet">Use antivirus software.</li>
						<li class="bullet">Do not work under privileged accounts unless absolutely necessary.</li>
						<li class="bullet">Do not run unfamiliar programs from dubious sources.</li>
						<li class="bullet">Try to block the possibility of unauthorized changes to system files.</li>
    					<li class="bullet">Disable potentially dangerous system functionality.</li>
						<li class="bullet">Do not go to suspicious sites, pay attention to the address in the address bar of the browser.</li>
    					<li class="bullet">Use only trusted distributions.</li>
						<li class="bullet">Constantly make backup copies of important data and have an image of the system with all the settings for fast deployment.</li>
						<li class="bullet">Perform regular updates of frequently used programs, especially those that provide system security.</li>
					</ul>

				<a class="read-again" href="/facts">Read more</a>
				Information source can be seen <a href="https://en.wikipedia.org/wiki/Computer_virus#Operations_and_functions">here</a>.
<% include partials/footer %>