<% include partials/headers %>
				<p id="trojan"> <img class="virus-image" src="img/trojan.png" alr="trojan-virus"> 
				 <span class="virus-type">Trojans horses</span><br>
					This name comes from a software which is very useful software but later do damage you system after run once. This virus can track the login details of the users who is online. Example, E-banking is very common, so its vulnerability of tracing your login details whenever your PC is working without the support of strong antivirus.</p>
				
					<a class="back" href="/types">Back</a>
<% include partials/footer %>