<% include partials/headers %>
      <h1 id="warning">Click on any virus type for more information.</h1>
<div id="div-container">
  <div id="image-container">
    <img id="choose-type" src="img/types.png" usemap="#image-map">

    <map name="image-map">
      <area alt="macro-virus" href="/macro-virus" coords="58,121,31" shape="circle">
      <area alt="memory-virus" href="/memory-viruses" coords="59,184,31" shape="circle">
      <area alt="overwrite viruses" href="/overwrite-viruses" coords="99,234,32" shape="circle">
      <area alt="direct-viruses" href="/direct-viruses" coords="180,242,39" shape="circle">
      <area alt="directory-viruses" href="/directory-viruses" coords="262,240,39" shape="circle">
      <area alt="web-viruses" href="/web-viruses" coords="341,239,36" shape="circle">
      <area alt="multi-viruses" href="/multi-viruses" coords="383,179,37" shape="circle">
      <area alt="boot" href="/boot" coords="106,69,38" shape="circle">
      <area alt="email-viruses" href="/email-viruses" coords="186,57,41" shape="circle">
      <area alt="trojans" href="/trojans" coords="268,56,40" shape="circle">
      <area alt="worm" href="/worm" coords="341,68,33" shape="circle">
      <area alt="poly-viruses" href="/poly-viruses" coords="329,115,388,81,436,113,424,144,342,139" shape="poly">
    </map>
    </div>
    <div id="links-container">
       <a class="read-more" id="read-in-types" href="/recovery">Read more...</a>

       <p id="types-info">Information source can be seen <a id="link-here" href="https://www.assignmenthelp.net/assignment_help/What-is-Computer-Virus">here</a>.<p>
     </div> 
   </div>
<% include partials/footer %>