<% include partials/headers %>
				<p id="directory"> 
				 <span class="virus-type">Web Scripting Virus</span><br>
					Mostly web pages contain complex code to make their web page content interactive so that such code exploit that cause undesirable actions. Such virus originate from browser and web pages. Web Scripting viruses include <em>JS.Fortnight</em> that spread via malicious emails.</p>
				
				<a class="back" href="/types">Back</a>
<% include partials/footer %>