<% include partials/headers %>
				<p id="worm"> <img class="virus-image" src="img/worm.gif" alr="worm-virus"> 
				 <span class="virus-type">Worm</span><br>
					Worm is very similar to a virus having a capability to self-replicate which is leading to negative effect on your system. This consume too much system memory and also affect web servers and network servers. Worm viruses are <em>lovgate.F, sobig.D, trile.C, PSWBugbear.B, Mapson.</em></p>
				
					<a class="back" href="/types">Back</a>
<% include partials/footer %>